@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat:wght@100;200;300;400;500;600&family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
  transition: 0.2s all linear;
}

::-moz-selection {
  background-color: #0eb582;
  color: #fff;
}

::selection {
  background-color: #0eb582;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: #0eb582;
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}

.Btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #0eb582;
  background: #f0fdfa;
  color: #0eb582;
  cursor: pointer;
  text-transform: capitalize;
}
.Btn:hover {
  background: #0eb582;
  color: #fff;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  font-weight: bolder;
}
.header .logo i {
  color: #0eb582;
}
.header .navbar {
  position: relative;
}
.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}
.header .navbar #close-navbar:hover {
  transform: rotate(90deg);
}
.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.header .navbar a.active {
  color: #0eb582 !important;
}
.header .navbar a:hover {
  color: #0eb582;
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 1.5rem;
}
.header .icons div:hover {
  color: #0eb582;
}
.header #menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  top: 0;
  right: -105%;
  width: 35rem;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  text-align: center;
  padding: 2rem;
}
.account-form.active {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
}
.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}
.account-form #close-form:hover {
  transform: rotate(90deg);
}
.account-form form {
  border: 0.1rem solid #0eb582;
  padding: 2rem;
  display: none;
}
.account-form form.actives {
  display: block;
}
.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}
.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.account-form form .flex {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}
.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline !important;
  color: #0eb582;
}
.account-form form .btn {
  width: 100%;
}
.account-form .buttons .btn {
  margin: 0 0.5rem;
}
.account-form .buttons .btn.active {
  background: #0eb582;
  color: #fff;
}

.Home {
  padding: 0;
}
.Home .carousel-caption {
  position: absolute;
  right: 50%;
  width: 43rem;
  height: 75%;
  display: block;
  color: #fff;
  text-align: start;
}
.Home .carousel-caption h3 {
  font-size: 4.5rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.Home .carousel-caption p {
  font-size: 1.4rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
}
.Home .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.Home .carousel-indicators [data-bs-target].active {
  opacity: 1;
  background-color: #0eb582;
}

.subject .boxs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.subject .boxs .box {
  text-align: center;
  background: #f0fdfa;
  padding: 3rem 2rem;
  cursor: pointer;
  border: 0.1rem solid #0eb582;
  margin-bottom: 2rem;
  flex-basis: 16rem;
}
.subject .boxs .box:hover {
  background: #0eb582;
}
.subject .boxs .box:hover h3 {
  color: #fff;
}
.subject .boxs .box:hover p {
  color: #eee;
}
.subject .boxs .box img {
  height: 10rem;
}
.subject .boxs .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.subject .boxs .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.home-courses {
  margin-bottom: 1rem;
}
.home-courses .slide {
  position: relative;
  width: 30rem;
  text-align: center;
  background: #f0fdfa;
  overflow: hidden;
}
.home-courses .slide:hover .content {
  bottom: 0;
}
.home-courses .slide .image {
  padding: 2rem;
}
.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
}
.home-courses .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.home-courses .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #0eb582;
  padding: 2rem 3rem;
}
.home-courses .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}
.home-courses .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}
.home-courses .slide .content .btn:hover {
  background: rgba(2, 141, 9, 0.664);
}
.home-courses .slide .btn {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
}

.heading-link {
  background-image: url(./image/heading-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
}
.heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
}
.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}
.heading-link p a {
  color: #0eb582;
}
.heading-link p a:hover {
  text-decoration: underline !important;
}

.about .image img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.about .content h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}
.about .content p {
  font-size: 1.3rem;
  line-height: 2;
  color: #777;
  padding: 1rem 0;
  margin: 0;
}
.about .content .icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  margin-top: 0.7rem;
}
.about .content .icons .icon {
  text-align: center;
  background-color: #f0fdfa;
  padding: 3rem 2rem;
  border: 0.1rem solid #0eb582;
  margin-bottom: 1rem;
}
.about .content .icons .icon img {
  height: 5rem;
  margin-bottom: 0.5rem;
}
.about .content .icons .icon h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.about .content .icons .icon span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.teachers .teacher-slider .slide {
  text-align: center;
}
.teachers .teacher-slider .slide .image {
  position: relative;
  overflow: hidden;
}
.teachers .teacher-slider .slide .image:hover .share {
  bottom: 0;
}
.teachers .teacher-slider .slide .image:hover img {
  background: #0eb582;
}
.teachers .teacher-slider .slide .image img {
  background-color: #f0fdfa;
  width: 100%;
}
.teachers .teacher-slider .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}
.teachers .teacher-slider .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}
.teachers .teacher-slider .slide .image .share a:hover {
  color: #0eb582;
}
.teachers .teacher-slider .slide .content {
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
.teachers .teacher-slider .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.teachers .teacher-slider .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.reviews .slide {
  text-align: center;
}
.reviews .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  position: relative;
  background: #f0fdfa;
  border: 0.1rem solid #0eb582;
  margin-bottom: 2rem;
  padding: 2rem;
}
.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1.1rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom: 0.1rem solid #0eb582;
  border-right: 0.1rem solid #0eb582;
  width: 2rem;
  height: 2rem;
  background-color: #f0fdfa;
}
.reviews .slide img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.reviews .slide h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.reviews .slide .stars {
  font-size: 1.5rem;
  color: #0eb582;
}

.courses .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.courses .box-container .box {
  border: 0.1rem solid #0eb582;
}
.courses .box-container .box:hover .image img {
  transform: scale(1.1);
}
.courses .box-container .box.hide {
  display: none;
}
.courses .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}
.courses .box-container .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.courses .box-container .box .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1.5rem;
  background: #fff;
}
.courses .box-container .box .content {
  text-align: center;
  padding: 2rem;
}
.courses .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.courses .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}
.courses .box-container .box .content .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #0eb582;
}
.courses .box-container .box .content .icons span {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}
.courses .box-container .box .content .icons span i {
  color: #0eb582;
  padding-right: 0.5rem;
}
.courses .load-more {
  text-align: center;
  margin-top: 2rem;
}

.contact .icons-container {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.contact .icons-container .icons {
  border-radius: 0.5rem;
  border: 0.1rem solid #0eb582;
  padding: 3rem 2rem;
  text-align: center;
  background-color: #f0fdfa;
}
.contact .icons-container .icons:hover i {
  background: #0eb582;
  color: #fff;
}
.contact .icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border: 0.1rem solid #0eb582;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  background: #0eb582;
}
.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: 0.5rem 0;
}
.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
.contact .image img {
  width: 100%;
  margin-top: 5rem;
}
.contact form {
  border: 0.1rem solid #0eb582;
  padding: 2rem;
}
.contact form h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}
.contact form .box {
  margin: 0.5rem 0;
  border: 0.1rem solid #0eb582;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 1.4rem;
  margin-left: 1px;
}
.contact form .box:focus {
  background: #0eb582;
  color: #fff;
}
.contact form .box:focus::-moz-placeholder {
  color: #fff;
}
.contact form .box:focus::placeholder {
  color: #fff;
}
.contact form .input-box {
  display: flex;
}
.contact form textarea {
  height: 15rem;
  resize: none;
}

.faq .accordion-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}
.faq .accordion-container .accordion {
  flex: 1 1 40rem;
  border: 0.1rem solid #0eb582;
}
.faq .accordion-container .accordion.active .accordion-heading {
  background-color: #0eb582;
}
.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}
.faq .accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  transform: rotate(180deg);
}
.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}
.faq .accordion-container .accordion .accordion-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem;
  cursor: pointer;
}
.faq .accordion-container .accordion h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}
.faq .accordion-container .accordion i {
  font-size: 2rem;
  color: #0eb582;
}
.faq .accordion-container p.accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #0eb582;
  display: none;
}

.logo-container {
  text-align: center;
}
.logo-container img {
  height: 10rem;
  cursor: pointer;
}

.footer {
  background-color: #f0fdfa;
  margin-top: 3rem;
}
.footer .box {
  margin-bottom: 2rem;
}
.footer .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
  font-weight: 600;
}
.footer .box h3 i {
  color: #0eb582;
}
.footer .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}
.footer .box .share {
  margin-top: 2rem;
  position: relative;
  left: -4px;
}
.footer .box .share a {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2rem;
  margin: 0 0.4rem;
  background-color: #0eb582;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.footer .box .share a:hover {
  background-color: #0eb582;
}
.footer .box .share a i {
  color: #fff;
}
.footer .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #777;
  padding: 0.5rem 0;
  display: block;
}
.footer .box .link:hover {
  color: #0eb582;
  text-decoration: underline !important;
}
.footer .box .email {
  width: 100%;
  border: 0.1rem solid #0eb582;
  padding: 1rem 1.4rem;
  font-size: 1.6rem;
  color: #777;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.footer .credit {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #0eb582;
  text-align: center;
}
.footer .credit span {
  color: #0eb582;
}
.footer .btn {
  display: inline-block;
  padding: 10px 30px;
  background: #0eb582;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.social {
  position: fixed;
  top: 50%;
  left: 0px;
  z-index: 999999999;
}

.social .media:first-of-type {
  border-top-right-radius: 15px;
}

.social .media:last-of-type {
  border-bottom-right-radius: 15px;
}

.social .media {
  background-color: #385898;
  width: 50px;
  height: 50px;
  margin: 0px;
}

.social .media:nth-of-type(2) {
  background-color: rgb(29, 155, 240);
}

.social .media:last-of-type {
  background-image: linear-gradient(45deg, black, red, yellow);
}

.social .media a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .media a i {
  font-size: 20px;
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 10px;
  background-color: #0eb582;
  width: 4rem;
  height: 4rem;
  color: #fff;
  display: none;
}

.top i {
  font-size: 20px;
}

#sideBar {
  position: fixed;
  top: 150px;
  left: 0px;
  z-index: 9999999;
}

#colorsBox {
  background-color: #ccc;
  float: left;
  padding: 15px;
  cursor: pointer;
}

.color-item {
  width: 30px;
  height: 30px;
  background-color: orange;
  display: inline-block;
  border-radius: 50%;
}

#sideBarToggle {
  background-color: #0eb582;
  padding: 8px;
  color: #fff;
  float: right;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

#sideBarToggle i {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  section {
    padding: 0rem !important;
  }
  .header {
    padding: 2rem 5%;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -105%;
    width: 30rem;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1250;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
  .carousel-caption {
    display: none !important;
  }
  .about .icons {
    display: block !important;
  }
  .icons .icon:first-of-type {
    width: 49%;
    float: right;
  }
  .icons .icon:nth-of-type(2) {
    width: 49%;
  }
  .icons .icon:last-of-type {
    width: 100%;
  }
  .row form, .contact, .courses, .reviews, .teachers, .about .content, .subject, .home-courses {
    padding: 1rem !important;
  }
  .faq {
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 5%;
  }
  .header {
    padding: 2rem;
  }
  #menu-btn {
    display: block;
  }
  .footer .box p {
    font-size: 2.2rem;
  }
  .carousel-caption {
    position: absolute;
    right: 50%;
    width: 43rem;
    height: 90% !important;
    display: block;
    color: #fff;
    text-align: start;
  }
  .about .col-md-6 {
    width: 100%;
  }
  .content h3 {
    font-size: 4rem;
    text-transform: capitalize;
    color: #444;
    margin-top: 2rem;
  }
  .content p {
    font-size: 2.3rem !important;
    padding: 1rem 0;
    margin: 0;
    line-height: 2;
    color: #777;
  }
}/*# sourceMappingURL=style.css.map */