@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat:wght@100;200;300;400;500;600&family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: .2s all linear;
}

$green : #0eb582;
$light-green : #f0fdfa;
$light-color: #777;
$light-white: #eee;
$black : #444;
$white : #fff;
$border : .1rem solid $green;
$box-shadow :0 0.5rem 1rem rgba(0,0,0,.1);

::selection{
  background-color: $green;
  color: $white;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 1rem;
  }
  &::-webkit-scrollbar-track{
    background: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background-color: $green;
  }
}
section{
  padding: 5rem 10%;
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: $black;
}
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@mixin title-text($titleSize) {
  font-size: $titleSize;
  text-transform: capitalize;
  color: $black;
}

@mixin graph-text($graphSize) {
  font-size: $graphSize;
  line-height: 2;
  color: $light-color;
}
.Btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: $border;
  background: $light-green;
  color: $green;
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    background: $green;
    color: #fff;
  }
}
// ----------------------------------------------------start of header--------------------------//
.header{
  position: sticky;
  top: 0; left: 0; right: 0;
  background-color: $white;
  box-shadow: $box-shadow;
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;

  .logo{
    margin-right: auto;
    @include title-text(2.5rem);
    font-weight: bolder;
    i{
      color:$green ;
    }
  }

  .navbar {
    position: relative;

    #close-navbar{
      position: absolute;
      top: 1.5rem; right: 2rem;
      font-size: 4rem;
      cursor: pointer;
      color: $black;
      display: none;

      &:hover{
          transform: rotate(90deg);
      }
    }
    a{
    margin-right: 2rem;
    @include title-text(2rem);
      &.active{
        color: $green !important;
      }
    &:hover{
      color: $green;
    }
  }
}
  .icons div{
    cursor: pointer;
    font-size: 2.5rem;
    color: $black;
    margin-left: 1.5rem;

    &:hover{
      color: $green;
    }
  }

  #menu-btn{
    display: none;
  }
}
// ----------------------------------------------------start of account--------------------------//
.account-form{
  position: fixed;
  top: 0; right: -105%;
  width: 35rem;
  background-color: $white;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  z-index: 1200;
  text-align: center;
  padding: 2rem;

  &.active{
    right: 0;
    box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
  }
  #close-form{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color: $black;
    &:hover{
      transform: rotate(90deg);
    }
  }

  form{
    border: $border;
    padding: 2rem;
    display: none;

    &.actives{
      display: block
    }

    h3{
      @include title-text(2.5rem);
      padding-bottom: 0.5rem;
      text-transform: uppercase;
    }
    .box{
      width: 100%;
      padding: 1.2rem 1.4rem;
      border: $border;
      font-size: 1.6rem;
      margin: .7rem 0;
    }
    .flex{
        padding: 1rem 0;
        display: flex;
        align-items: center;
        gap: .5rem;
          label{
            font-size: 1.5rem;
            color: $light-color;
            cursor: pointer;
          }
          a{
            font-size: 1.5rem;
            color: $light-color;
            margin-left: auto;
      &:hover{
        text-decoration: underline !important;
        color: $green;
      }
    }
  }
    .btn{
      width: 100%;
    }
  }
  .buttons .btn{
    margin:0 .5rem;

    &.active{
      background: $green;
      color: $white;
    }
  }
}
// -----------------------------------------end of account--------------------------//
// ---------------------------------------end of header---------------------------------------//
//--------------------------------------- start of Home ------------------------------------- //
.Home{
    padding: 0;
  .carousel-caption {
    position: absolute;
    right: 50%;
    width: 43rem;
    height: 75%;
    display: block;
    color: #fff;
    text-align: start;
    h3{
      @include title-text(4.5rem);
      color : $white;
    }
    p{
      @include graph-text(1.4rem);
      color: $light-white;
      padding: 1rem 0;
    }
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: $white;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;

  &.active{
      opacity: 1;
      background-color: $green;
  }
}
}
//--------------------------------------- end of Home ------------------------------------- //
//--------------------------------------- start of subject ------------------------------------- //
.subject{
        .boxs{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            flex-wrap: wrap;
    .box{
        text-align: center;
        background: #f0fdfa;
        padding: 3rem 2rem;
        cursor: pointer;
        border: 0.1rem solid #0eb582;
        margin-bottom: 2rem;
        flex-basis: 16rem;

        &:hover{
            background: $green;
            h3{
                color: $white;
            }
            p{
                color: $light-white;
            }
        }
        img{
        height: 10rem;
        }
        h3{
        @include title-text(2rem);
        padding: 0.5rem 0;
        }
        p{
        @include graph-text(1.5rem)
        }
    }
}
}
//--------------------------------------- end of subject ------------------------------------- //
// -------------------------------------------start of home-courses--------------------------//
.home-courses{
            margin-bottom: 1rem;
    .slide{
        position: relative;
        width: 30rem;
        text-align: center;
        background: $light-green;
        overflow: hidden;
        
        &:hover .content{
            bottom: 0;
        }
        .image{
        padding: 2rem;
            img{
                width: 100%;
                margin-bottom: 1.5rem;
            }

            h3{
            @include title-text(2rem);
            }
        }

        .content{
        position: absolute;
        bottom: -100%; 
        right: 0;
        left: 0;
        background: $green;
        padding: 2rem 3rem;
            h3{
                @include title-text(2rem);
                color: $white;
            }
            p{
            padding: 1rem 0;
            @include graph-text(1.5rem);
            color: $light-white;
            }

            .btn:hover{
                background: rgba(2, 141, 9, 0.664);
            }
        }
        .btn{
            display: inline-block;
            padding: 10px 25px;
            border: 1px solid #fff;
            font-size: 16px;
            color: #fff;
        }
    }
}
// -------------------------------------------end of home-courses--------------------------//
// -------------------------------------------start of heading-link--------------------------//
.heading-link{
    background-image: url(./image/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;

    h3{
    @include title-text(4rem)
    }
    p{
    @include graph-text(2rem);

    a{
        color: $green;

        &:hover{
            text-decoration: underline !important;
        }
    }
    }
}
// -------------------------------------------end of heading-link--------------------------//
// -------------------------------------------start of about--------------------------//
.about{

    .image{

        img{
            width: 100%;
            margin-bottom: 0.5rem
        }
    }
    .content{

        h3{
            @include title-text(3rem)
        }
        p{
            @include graph-text(1.3rem);
            padding: 1rem 0;
            margin: 0;
        }
        .icons{
            @include grid(16rem);
            margin-top: 0.7rem;
            .icon{
            text-align: center;
            background-color: $light-green;
            padding: 3rem 2rem;
            border: $border;
            margin-bottom: 1rem;
                
            img{
                height: 5rem;
                margin-bottom: .5rem;
            }
            h3{
                @include title-text(3rem);
                padding: 0.5rem 0;
            }
            span{
                font-size: 1.5rem;
                line-height: 2;
                color: #777;
            }
            }
        }
    }
}
// -------------------------------------------end of about--------------------------//
// -------------------------------------------start of teachers--------------------------//
.teachers{

    .teacher-slider{

        .slide{
            text-align: center;
            // width: 25rem;

            
            .image{
            position: relative;
            overflow: hidden;

            &:hover {
                .share{
                    bottom: 0;
                    }
                    img{
                        background: $green;
                    }
            }
                img{
                background-color: $light-green;
                width: 100%;
                }
                .share{
                position: absolute;
                bottom: -10rem; left: 0; right: 0;
                background: rgba(0,0,0,.8);
                padding: 1rem;
                    a{
                    font-size: 3rem;
                    margin: 0 1rem;
                    color: $white;

                    &:hover{
                        color: $green;
                    }
                    }
                }
            }

            .content{
            display: flex;
            padding-top: 1rem;
            align-items: center;
            justify-content: space-between;
                h3{
                @include title-text(2rem)
                }
                span{
                @include graph-text(1.5rem);
                }
            }
        }
    }
}
// -------------------------------------------end of teachers--------------------------//
// -------------------------------------------start of reviews--------------------------//
.reviews{
        .slide{
        text-align: center;
            p{
            @include graph-text(1.5rem);
            position: relative;
            background: $light-green;
            border: $border;
            margin-bottom: 2rem;
            padding: 2rem;
            &::before{
                content: '';
                position: absolute;
                bottom: -1.1rem; left: 50%;
                transform: translateX(-50%) rotate(45deg);
                border-bottom: $border;
                border-right: $border;
                width: 2rem;
                height: 2rem;
                background-color: $light-green;
            }
            }
            img{
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            }
            h3{
                @include title-text(2.2rem);
                padding: 0.5rem 0;
            }
            .stars{
            font-size: 1.5rem;
            color: $green;
            }
        }
}
// -------------------------------------------end of reviews--------------------------//
// -------------------------------------------start of courses--------------------------//
.courses{

    .box-container{
        @include grid(30rem);
    .box{
        border: $border;
        &:hover .image img{
            transform: scale(1.1);
        }

        &.hide{
            display: none;
        }
        .image{
            height: 25rem;
            overflow: hidden;
            position: relative;
            img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
            h3{
            @include title-text(1.5rem);
            position: absolute;
            top: 1rem; left: 1rem;
            padding: 0.5rem 1.5rem;
            background: $white;
            }
        }
        .content{
            text-align: center;
            padding: 2rem;
            h3{
            @include title-text(2rem)
            }
            p{
            padding: 1rem 0;
            @include graph-text(1.6rem);
            }
            .icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            padding-top: 2rem;
            border-top: $border;
            span{
            @include title-text(1.5rem);

            i{
            color: $green;
            padding-right: .5rem;
            }
                }
            }
        }
    }
}
.load-more{
    text-align: center;
    margin-top: 2rem;
}
}

// -------------------------------------------end of courses--------------------------//
// --------------------------------------------start of contact--------------------------//
.contact{

    .icons-container{
      margin-bottom: 2rem;
      @include grid(25rem);
      .icons{
          border-radius: .5rem;
            border: $border;
            padding: 3rem 2rem;
            text-align: center;
            background-color: $light-green;

            &:hover i{
                background: $green;
                color: $white;
            }
            i{
                height: 5rem;
                width: 5rem;
                line-height: 5rem;
                border: $border;
                color: $white;
                font-size: 2rem;
                margin-bottom: .5rem;
                border-radius: 50%;
                background: $green;
            }
            h3{
                @include title-text(2rem);
                padding: .5rem 0
            }
            p{
                @include graph-text(1.5rem);
                
            }
        }
    }
    .image{
        img{
            width: 100%;
            margin-top: 5rem;
        }
    }
    form{
        border: $border;
        padding: 2rem;
        h3{
            @include title-text(3rem);
            padding-bottom: 1rem ;
        }
        .box{
            margin: 0.5rem 0;
            border: $border;
            font-size: 1.6rem;
            width: 100%;
            padding: 1.2rem 1.4rem;
            margin-left: 1px;
    
            &:focus{
                background: $green;
                color: $white;
    
                &::placeholder{
                    color: $white;
                }
            }
        }
        .input-box{
            display: flex;
        }
        textarea{
            height: 15rem;
            resize: none;
        }
    }   
}
// ----------------------------------------------------end of contact--------------------------//
// ----------------------------------------------------start of faq--------------------------//

.faq{

    .accordion-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: flex-start;

        .accordion{
            flex: 1 1 40rem;
            border: $border;

            &.active{
                .accordion-heading{
                    background-color: $green;
                    h3{
                        color: $white;
                    }
                    i{
                        color: $white;
                        transform: rotate(180deg);
                    }
                }
                .accordion-content{
                    display: block;
                }
            }
        .accordion-heading{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 1.5rem;
            cursor: pointer;
        }
            h3{
            @include title-text(2rem);
            }
            i{
            font-size: 2rem;
            color: $green;
            }
        }
        p.accordion-content{
            padding: 1.5rem;
            @include graph-text(1.5rem);
            border-top: $border;
            display: none;
        }
    }
}
// ----------------------------------------------------end of faq--------------------------//
// ----------------------------------------------------start of logo-slider------------------//
.logo-container{
    text-align: center;

    img{
        height: 10rem;
        cursor: pointer;
        
    }
}
// ----------------------------------------------------end of logo-slider-------------------------------------//
//----------------------------------------------------- start of footer ------------------------------------- //
.footer{
    background-color: $light-green;
    margin-top: 3rem;
    .box{
    margin-bottom: 2rem;
        h3{
        @include title-text(2.2rem);
        padding: 1rem 0;
        font-weight: 600;
        i{
            color: $green;
        }
        }
        p{
            @include graph-text(1.5rem);
        }
        .share{
            margin-top: 2rem;
            position: relative;
            left: -4px;
            a{
                width: 4.5rem;
                height: 4.5rem;
                font-size: 2rem;
                margin: 0 0.4rem;
                background-color: #0eb582;
                color: #fff;
                padding: 10px;
                border-radius: 5px;
            &:hover{
                background-color: $green
                }
            i{
                color: $white;
                
            }
            }
        }
        .link{
            @include graph-text(1.7rem);
            padding: 0.5rem 0;
            display: block;
            &:hover{
                color: $green;
                text-decoration: underline !important;
            }
            
        }
        .email{
            // display: block;
            width: 100%;
            border: $border;
            padding: 1rem 1.4rem;
            font-size: 1.6rem;
            color: $light-color;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
    .credit{
        @include title-text(2rem);
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: $border;
        text-align:center;
        span{
        color: $green;
        }
    }
    .btn{
        display: inline-block;
        padding: 10px 30px;
        background: $green;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        color: $white;
    }
}
//--------------------------------------- end of footer ------------------------------------- //
.social{
    position: fixed;
    top: 50%;
    left: 0px;
    z-index: 999999999;
}
.social .media:first-of-type{
    border-top-right-radius: 15px;
}
.social .media:last-of-type{
    border-bottom-right-radius: 15px;
}
.social .media{
    background-color: #385898;
    width: 50px;
    height: 50px;
    margin: 0px;
}
.social .media:nth-of-type(2){
    background-color: rgb(29, 155, 240);;
}
.social .media:last-of-type{
    background-image: linear-gradient(45deg, black,
    red , yellow);
}
.social .media a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.social .media a i{
    font-size: 20px;
}


.top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 10px;
  background-color: $green;
  width: 4rem;
  height: 4rem;
  color: $white;
  display: none;
}
.top i{
  font-size: 20px;
}

#sideBar{
    position: fixed;
    top: 150px;
    left: 0px;
    z-index: 9999999;
}
#colorsBox{
    background-color: #ccc;
    float: left;
    padding: 15px;
    cursor: pointer;
}
.color-item{
    width: 30px;
    height: 30px;
    background-color: orange;
    display: inline-block;
    border-radius: 50%;
}
#sideBarToggle{
    background-color: $green;
    padding: 8px;
    color: $white;
    float: right;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
#sideBarToggle i{
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
}



@media (max-width: 767px){
    section{
        padding: 0rem !important;
    }
    .header{
        padding: 2rem 5%;
        
    #menu-btn{
        display: inline-block;
    }
    
    .navbar{
        position: fixed;
        top: 0; right: -105%;
        width: 30rem;
        background-color: $white;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 1250;
        #close-navbar{
        display: block;
        }
        &.active{
            box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
            right: 0;
        }
        a{
            display: block;
            margin: 1rem 0;
            text-align: center;
            font-size: 3rem;
        }
    }
}
.carousel-caption{
    display: none !important;
}
.about .icons{
    display: block !important;
}
.icons .icon:first-of-type{
    width: 49% ;
    float: right;
}
.icons .icon:nth-of-type(2){
    width: 49%;
}
.icons .icon:last-of-type{
    width: 100%;
}
.row form , .contact , .courses , .reviews , .teachers , .about .content , .subject , .home-courses{
    padding: 1rem !important;
}
.faq{
    margin-bottom: 3rem;
}
}


@media (min-width: 768px) and (max-width: 1000px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 5%;
    }
    .header{
        padding: 2rem;
    }
    #menu-btn{
        display: block;
    }
    .footer .box p{
        font-size: 2.2rem;
    }
    .carousel-caption{
        position: absolute;
        right: 50%;
        width: 43rem;
        height: 90% !important;
        display: block;
        color: #fff;
        text-align: start;
    }
    .about .col-md-6{
        width: 100%;
    }
    .content{

        h3{
            @include title-text(4rem);
            margin-top: 2rem;
        }
        p{
            font-size: 2.3rem !important;
            padding: 1rem 0;
            margin: 0;
            line-height: 2;
            color: $light-color;
        }
    }
}